.card {
  height: 30rem;
  background: rgba($blue-l, 0.3);
  width: 33.33%;
  margin-bottom: 1rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  @include respond(tab-port) {
    width: 35rem;
    margin-bottom: 2rem;
  }

  @include respond(phone) {
    width: 35rem;
    margin-bottom: 2rem;
  }
}
